.login_btn {
  border: 0px;
  width: 120px;
  height: 50px;
  color: #041e42;
  background-color: transparent;
  outline: none;
}

.login_btn:hover {
  color: white;
  transition: background-color 700ms ease-out;
  background-color: #041e42;
  border: 1px solid #041e42;
  cursor: pointer;
}

.login_btn:active {
  color: #ffc220;
  background-color: #041e42;
  border: 1px solid #041e42;
}

.login_btn:focus {
  background-color: #041e42;
  color: #ffc220;
}

.Register_btn {
  border: 0px;
  width: 120px;
  height: 50px;
  color: #041e42;
  background-color: transparent;
  outline: none;
}

.Register_btn:hover {
  transition: background-color 700ms ease-out;
  color: white;
  background-color: #041e42;
  border: 1px solid #041e42;
  cursor: pointer;
}

.Register_btn:focus {
  background-color: #041e42;
  color: #ffc220;
}

.Support_btn {
  border: 0px;
  width: 120px;
  height: 50px;
  color: black;
  background-color: transparent;
  outline: none;
}

.Support_btn:hover {
  transition: background-color 700ms ease-out;
  color: white;
  background-color: #041e42;
  border: 1px solid #041e42;
  cursor: pointer;
}

.Support_btn:focus {
  background-color: #041e42;
  color: #ffc220;
}

.Form_toggle {
  float: right;
  position: relative;
}
